
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Admin Indiv Courier</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module/javascript" src="util.js"></script>
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ul>
                <li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
			</ul>
		</header>
	<main>
		
		<section class="hero-ill">
			<div class="hero-block">Parcel sending made easy!</div>
		</section>

		<section class="main-sides">

			<section class="main-left">
				<nav class="side-nav">
					<ol class="side-nav-bunch">
						<li><a href="/"><span id="side-nav-icon" class="material-symbols-outlined">home</span><span>Home</span></a></li>
						<li><a href="/courier-parcels"><span id="side-nav-icon" class="material-symbols-outlined">list</span><span>Parcels</span></a></li>
						<li><a href="/courier-transit"><span id="side-nav-icon" class="material-symbols-outlined">check_box</span><span>Transit</span></a></li>
						<li><a href="/courier-route"><span id="side-nav-icon" class="material-symbols-outlined">map</span><span>Route</span></a></li>
						
					</ol>
				</nav>
			</section>

			<section class="main-right">
				<table>
					<thead>
						<tr>
							<th>Sender PostCode</th>
							<th>Recipient PostCode</th>
							<th>Weight</th>
							<th>Recipient Name</th>
							<th>Full Adress</th>
							<th>Sender Username</th>
							<th>Date and Time</th>
							<th>Unique ID</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{{#each result}}
							<tr>
								<td>{{this.sender_postcode}}</td>
								<td>{{this.recipient_postcode}}</td>
								<td>{{this.weight_kg}}</td>
								<td>{{this.recipient_name}}</td>
								<td>{{this.full_address}}</td>
								<td>{{this.sender_username}}</td>
								<td>{{{this.date_time_in_transit}}}</td>
								<td>{{this.uuid}}</td>
								<td>{{this.status}}</td>
							</tr>	
						{{/each}}
					</tbody>
				</table>

			</section>
		</section>
	</main>
	<footer>
		<p>This is the footer</p>
	</footer>
	</body>
	
</html>
