
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Parcelino.</title>
		<meta name="description" content="courier view all parcels stock page">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js" defer></script>
		</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ul>
				<li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
			</ul>
		</header>
	<main>
			<section class="main-left">
				<nav class="side-nav">
					<ol class="side-nav-bunch">
						<li><a href="/"><span id="side-nav-icon" class="material-symbols-outlined">home</span><span>Home</span></a></li>
						<li><a href="/courier-parcels"><span id="side-nav-icon" class="material-symbols-outlined">list</span><span>Parcels</span></a></li>
						<li><a href="/courier-transit"><span id="side-nav-icon" class="material-symbols-outlined">check_box</span><span>Transit</span></a></li>
						<li><a href="/courier-route"><span id="side-nav-icon" class="material-symbols-outlined">map</span><span>Route</span></a></li>
						<li><a href="/courier-delivered"><span id="side-nav-icon" class="material-symbols-outlined">inbox</span><span>Delivered</span></a></li>			
					</ol>
				</nav>
			</section>
			<section class="main-right">
				<section class="insert-uuid"> 
					{{!-- 
					<p id="uuid-alert-green"></p> --}}

					{{!-- <form action="/courier-parcels" method="post" >
						<input type="text" name="uuid">
						<input type="submit" name="Submit">
					</form> --}}
					<label>Accept parcel by entering the Unique ID:</label>
					<div class="input-field">
						
						<input type="text" name="uuid"></input>
						<button class="insert-uuid-button-accept" id="insert-uuid-button-accept"><span class="material-symbols-outlined">archive</span></button>
					</div>
					
					<p id="uuid-alert-green" class="uuid-alert-green-success">Congratulation! You have accepted a new parcel.</p>
					<p id="uuid-alert-yellow" class="uuid-alert-yellow-transit">Conflict! Parcel already in transit!</p>
					<p id="uuid-alert-yellow" class="uuid-alert-yellow-delivered">Conflict! Parcel already delivered!</p>
					<p id="uuid-alert-red" class="uuid-alert-red-not-found">Not Found! The uuid is incorrect!</p>
				</section>
				<p class="empty">There are no parcels to be delivered!</p>
				<section class="parcels">
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Sender Postode</th>
							<th>Sender Full Adress</th>
							<th>Recipient Postcode</th>
							<th>Recipient Full Adress</th>
							<th>Weight</th>
							<th>Date Posted</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{{#each parcels}}	
						<tr class="parcel-link">						
							<td onclick="window.location='/parcel/{{this.uuid}}'" ><img class="parcel-icon" src="img/package.png"></td>
							<td onclick="window.location='/parcel/{{this.uuid}}'" class="parcel-td">{{this.sender_postcode}}</td>
							<td onclick="window.location='/parcel/{{this.uuid}}'" class="parcel-td">{{this.sender_address}} {{this.sender_city}}</td>
							<td onclick="window.location='/parcel/{{this.uuid}}'" class="parcel-td">{{this.recipient_postcode}}</td>
							<td onclick="window.location='/parcel/{{this.uuid}}'" class="parcel-td">{{this.recipient_address}} {{this.recipient_city}}</td>
							<td onclick="window.location='/parcel/{{this.uuid}}'" class="parcel-td">{{this.weight_kg}}</td>
							<td onclick="window.location='/parcel/{{this.uuid}}'" class="parcel-td">{{{formatedColored this.date_time_created}}}</td>
							<td onclick="window.location='/parcel/{{this.uuid}}'" class="parcel-td">{{this.status}}</td>
							<td class="td-transit" value="{{this.uuid}}"><span class="material-symbols-outlined">archive</span><span>Accept</span></td>
						</tr>
					{{/each}}

					</tbody>
				</table>
				</section>
			</section>
	</main>
	</body>	
</html>


	{{!-- <form action="/home-courier-p/{{this.uuid}}" method="post" enctype="multipart/form-data">
								<input type="submit" name="submit" value="Add-Transit">
							</form> --}}
	{{!-- <td class="button-transit"><button class="button-add-transit" value="{{this.uuid}}"><span class="material-symbols-outlined">archive</span><span>Accept</span></button></td> --}}
						