
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Parcelino.</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script type="module" src="util.js" defer></script>
    </head>
	<body>
		<header>
            <h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ul>
                <li class="logout"><a href="/logout"><span class="material-symbols-outlined">logout</span><span>Log-out</span></a></li>
			</ul>
        </header>
        <main>
            <section class="main-left">
                <nav class="side-nav">
                <ol class="side-nav-bunch">
                    <li><a href="/"><span id="side-nav-icon" class="material-symbols-outlined">home</span><span id="side-nav-text">Home</span></a></li>
                    <li><a href="/courier-parcels"><span id="side-nav-icon" class="material-symbols-outlined">list</span><span>Parcels</span></a></li>
                    <li><a href="/courier-transit"><span id="side-nav-icon" class="material-symbols-outlined">check_box</span><span>Transit</span></a></li>
                    <li><a href="/courier-route"><span id="side-nav-icon" class="material-symbols-outlined">map</span><span>Route</span></a></li>
                    <li><a href="/courier-delivered"><span id="side-nav-icon" class="material-symbols-outlined">inbox</span><span>Delivered</span></a></li>			
                </ol>
                </nav>
            </section>
            <section class="main-right">
                <p id="uuid-alert-green" class="uuid-alert-green-success">Congratulation! You have accepted a new parcel.</p>
                <section class="parcels"> 
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Recipient PostCode</th>
                            <th>Recipient Name</th>
                            <th>Recipient Adress</th>
                            <th>Weight</th>
                            <th>Date-Time Accepted</th>
                            <th>Unique ID</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each parcels}}
                        <tr class="parcel-link">
                            <td onclick="window.location='/parcel/{{this.uuid}}'" ><img class="parcel-icon" src="img/package.png" alt="parcel-icon-alt"></td>
                            <td onclick="window.location='/parcel/{{this.uuid}}'" >{{this.recipient_postcode}}</td>
                            <td onclick="window.location='/parcel/{{this.uuid}}'" >{{this.recipient_name}}</td>
                            <td onclick="window.location='/parcel/{{this.uuid}}'" >{{this.recipient_address}}</td>
                            <td onclick="window.location='/parcel/{{this.uuid}}'" >{{this.weight_kg}}</td>
                            <td onclick="window.location='/parcel/{{this.uuid}}'" >{{{formatedColored this.date_time_in_transit}}}</td>
                            <td onclick="window.location='/parcel/{{this.uuid}}'" >{{this.uuid}}</td>
                            <td onclick="window.location='/parcel/{{this.uuid}}'" >{{this.status}}</td>
                            {{!-- <td class="button-deliver" ><button class="button-td-deliver" name="set_deliver" onclick="window.location='/home-courier-receiver-details/{{this.uuid}}'"><span class="material-symbols-outlined">handshake</span><span>Deliver</span></button></td> --}}
                            <td class="td-deliver" onclick="window.location='/courier-recipient-details/{{this.uuid}}'"><span class="material-symbols-outlined">handshake</span><span>Deliver</span></td>
                        </tr>	
                    {{/each}}
                    </tbody>
                </table>
                </section>

            </section>        
        </main>      
	</body>	
</html>
