
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Transit page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script type="module" src="util.js" defer></script>

    </head>
	<body>
		<header>
            <h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ol>
                <li><a href="/home-courier-p">Parcels</a></li>
                <li><a href="/home-courier-route">Route</a></li>
                <li><a href="/">Home</a></p>
                <li><a href="/logout">Log-out</a></li>
			</ol>
        </header>
        <main>
            {{!-- <div class="get-started">If you want to learn more and get started with this project see the Docs section!</div> --}}
            

            <section class="breadcrumbs-section">
                <ul class="breadcrumbs-ul">
                    <li class="breadcrumbs_item">
                        <a class="breadcrumbs-link" href="/">Home</a>
                    </li>
                    <li class="breadcrumbs_item">
                        <a class="breadcrumbs-link" href="/home-courier-p">Parcels</a>
                        </li>
                    <li class="breadcrumbs_item">
                        <a class="breadcrumbs-link breadcrumbs-link-active" href="/home-courier-transit">Transit</a>
                    </li>
                </ul>
            </section>

            <section class="map">
		        <img class="dark-map-link" src="img/darkmap.PNG">            
            </section>
            
            <section class="uuid"> 
                <label>Deliver parcel by entering the UUID:</label>
                <input type="text" name="uuid"></input>
                <button >Deliver</button>
                <p id="alert"></p>
            </section>

            <section class="parcels"> 
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Sender PostCode</th>
                        <th>Recipient PostCode</th>
                        <th>Weight</th>
                        <th>Recipient Name</th>
                        <th>Recipient Adress</th>
                        <th>Sender Username</th>
                        <th>Date-Time Created</th>
                        <th>Date-Time Accepted</th>
                        <th>Unique ID</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {{#each parcels}}
                    <tr>
                        <tr class="parcel-link" onclick="window.location='/parcel/{{this.uuid}}'">
                        <td><img class="parcel-icon" src="img/package.png"></td>
                        <td>{{this.sender_postcode}}</td>
                        <td class="recipient_postcode">{{this.recipient_postcode}}</td>
                        <td>{{this.weight_kg}}</td>
                        <td>{{this.recipient_name}}</td>
                        <td>{{this.recipient_address}}</td>
                        <td>{{this.sender_username}}</td>
                        <td>{{{lol this.date_time_created}}}</td>
                        <td>{{{lol this.date_time_in_transit}}}</td>
                        <td>{{this.uuid}}</td>
                        <td>{{this.status}}</td>
                        <td class="button-transit" ><button class="button-add-transit" name="set_deliver">Deliver</button></td>
                    </tr>	
                {{/each}}
                </tbody>
            </table>
            </section>
        </main>        
        <footer>
            <p>This is the footer</p>
        </footer>
	</body>	
</html>

            {{!-- <form action="/home-courier-transit" method="post" enctype="multipart/form-data">
                <input type="search" name="search" id="search" >
                <input type="submit" name="submit">
            </form> --}}
