
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Admin Indiv Courier</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module/javascript" src="util.js"></script>
	</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ol>
				<li><a href="/home-admin-p">Parcels List</a></li>
				<li><a href="/">Home</a></li>
				<li><a href="/logout">Log out</a></li>
			</ol>
		</header>
	<main>
		{{!-- <p>Courier: </p> --}}
		<table>
			<thead>
                <tr>
                    <th>Sender PostCode</th>
                    <th>Recipient PostCode</th>
                    <th>Weight</th>
                    <th>Recipient Name</th>
                    <th>Full Adress</th>
                    <th>Sender Username</th>
                    <th>Date and Time</th>
                    <th>Unique ID</th>
                    <th>Status</th>
                </tr>
            </thead>
			<tbody>
                {{#each result}}
                    <tr>
                        <td>{{this.sender_postcode}}</td>
                        <td>{{this.recipient_postcode}}</td>
                        <td>{{this.weight_kg}}</td>
                        <td>{{this.recipient_name}}</td>
                        <td>{{this.full_address}}</td>
                        <td>{{this.sender_username}}</td>
                        <td>{{{lop this.date_time_in_transit}}}</td>
                        <td>{{this.uuid}}</td>
                        <td>{{this.status}}</td>
                    </tr>	
                {{/each}}
			</tbody>
		</table>
	</main>
	<footer>
		<p>This is the footer</p>
	</footer>
	</body>
	
</html>
