
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Parcelino | Route</title>
		<meta name="description" content="courier view all parcels stock page">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">		    
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="routes.js" defer></script>
		</head>
	<body>
		<header>
			<h1><a href="/">Parcelino<span id="dot">.</span></a></h1>
			<ol>
                <li><a href="/home-courier-transit">Transit</a></li>
                <li><a href="/home-courier-p">Parcels</a></li>
                <li><a href="/">Home</a></p>
                <li><a href="/logout">Log out</a></li>
			</ol>
		</header>
	<main>
		
        <section class="courier-route-map">

           <div class="routes-map" id="routes-map"></div>
    	
        </section>
        
            <table class="routes-table">
                <tbody>
                {{#each parcels}}
                    <tr class="routes-table-row">
                        <td>{{this.sender_postcode}}</td>
                        <td>{{this.recipient_postcode}}</td>
                        <td>{{this.weight_kg}}</td>
                        <td>{{this.recipient_name}}</td>
                        <td>{{this.recipient_address}}</td>
                        <td>{{this.sender_username}}</td>
                        <td>{{{lol this.date_time_created}}}</td>
                        <td>{{{lol this.date_time_in_transit}}}</td>
                        <td>{{this.uuid}}</td>
                        <td>{{this.status}}</td>
                    </tr>	
                {{/each}}
                </tbody>
            </table>
	</main>
	<footer>
		<p>This is the footer</p>
	</footer>
	</body>
	
</html>
