
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Admin Parcels List</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module/javascript" src="util.js"></script>
	</head>
	<body>
		<header>
			<h1>Parcels Page</h1>
				<p><a href="/home-admin-c">Couriers List</a></p>
				<p><a href="/">Home</a></p>
				<p><a href="/logout">Log out</a></p>

		</header>
	<main>
		<p>This is the Admin's page displaying parcels.</p>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sender PostCode</th>
					<th>Recipient PostCode</th>
					<th>Weight</th>
					<th>Recipient Name</th>
					<th>Full Adress</th>
					<th>Sender Username</th>
					<th>Date Posted</th>
					<th>Unique ID</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			{{#each parcels}}
				<tr>
					<td><span class="emoji">📦</span></td>
					<td>{{this.sender_postcode}}</td>
					<td>{{this.recipient_postcode}}</td>
					<td>{{this.weight_kg}}</td>
					<td>{{this.recipient_name}}</td>
					<td>{{this.full_address}}</td>
					<td>{{this.sender_username}}</td>
					<td>{{{lol this.date_time_created}}}</td>
					<td>{{this.uuid}}</td>
					<td>{{this.status}}</td>
				</tr>		
			{{/each}}
			</tbody>
		</table>
	</main>
	<footer>
		<p>This is the footer</p>
	</footer>
	</body>
	
</html>
