
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Transit page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script type="module" src="util.js" defer></script>

    </head>
	<body>
		<header>
			<h1>Transit page</h1>
			<h2>Hi {{authorised}}</h2>
            <p><a href="/home-courier-p">Packages</a></p>
            <p><a href="/logout">Log out</a></p>
            <p><a href="/">Home</a></p>
		</header>
        <main>
            
            <p><strong>MAP:</strong></p> 
		    <div id="map"></div>
            
            <p></p>
            
            <label>Set to delivered by entering the UUID:</label>
            {{!-- <form action="/home-courier-transit" method="post" enctype="multipart/form-data">
                <input type="search" name="search" id="search" >
                <input type="submit" name="submit">
            </form> --}}
            
            <p><input type="text" name="uuid"></input></p>

            <p id="alert"></p>
            


            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Sender PostCode</th>
                        <th>Recipient PostCode</th>
                        <th>Weight</th>
                        <th>Recipient Name</th>
                        <th>Recipient Adress</th>
                        <th>Sender Username</th>
                        <th>Date-Time Created</th>
                        <th>Date-Time Accepted</th>
                        <th>Unique ID</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {{#each parcels}}
                    <tr>
                        <tr class="parcel-link" onclick="window.location='/parcel/{{this.uuid}}'">
                        <td><span class="emoji">📦</span></td>
                        <td>{{this.sender_postcode}}</td>
                        <td class="recipient_postcode">{{this.recipient_postcode}}</td>
                        <td>{{this.weight_kg}}</td>
                        <td>{{this.recipient_name}}</td>
                        <td>{{this.recipient_address}}</td>
                        <td>{{this.sender_username}}</td>
                        <td>{{{lol this.date_time_created}}}</td>
                        <td>{{{lol this.date_time_in_transit}}}</td>
                        <td>{{this.uuid}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <td>
                                <button name="set_deliver" onclick="location.href='home-courier-receiver-details/{{this.uuid}}'">Deliver</button>
                            </td>
                        </td>
                    </tr>	
                {{/each}}
                </tbody>
            </table>
        </main>        


        <footer>
            <p>This is the footer</p>
        </footer>

	</body>	
</html>

