
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Parcel Details</title>
		<meta name="description" content="Individual parcel details">
		<meta name="author" content="Alberto Paros">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module/javascript" src="indiv-parcel-map.js" defer></script>


	</head>
	<body>
		<header>
			<h1>Parcelino<span id="dot">.</span></h1>
			<nav>
				<ul>
				{{#if role.customer}}
					<li><a href="/send">Send+</a></li>
					<li><a href="/home-customer">Sended</a></li>	
				{{/if}}
				{{#if role.courier}}
					<p id="courier" style="display:none;"></p>
					<li><a href="/home-courier-p">Packages</a></li>
					<li><a href="/home-courier-transit">Transit</a></li>
				{{/if}}
				{{#if role.admin}}
					<li><a href="/home-admin-c">Couriers List</a></li>
					<li><a href="/home-admin-p">Parcels List</a></li>	
				{{/if}}
					<li><a href="/logout">Log out</a></li>
				</ul>
			</nav>
		</header>
	<main>
		<h2>Parcel Details</h2>
		<p>Logged in as <span id="authorised"><strong>{{authorised}}</strong></span></p>

		<section class="map-wrapper">
			{{!-- Where the map will be displayed --}}
			<div id="map-one-parcel"></div>
		</section>
		
		
		<section class="parcels">
		{{#if role.admin}}
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sender Username</th>
					<th>Sender PostCode</th>
					<th>Recipient PostCode</th>
					<th>Weight</th>
					<th>Recipient Name</th>
					<th>Full Adress</th>
					<th>Date Posted</th>
					<th>Date Transit</th>
					<th>Date Delivered</th>
					<th>Unique ID</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
			{{#each parcels}}
				<tr>
					<td><img class="parcel-icon" src="img/package.png"></td>
					<td id="sender_username">{{this.sender_username}}</td>
					<td id="sender_postcode">{{this.sender_postcode}}</td>
					<td id="recipient_postcode">{{this.recipient_postcode}}</td>
					<td id="weight_kg">{{this.weight_kg}}</td>
					<td id="recipient_name">{{this.recipient_name}}</td>
					<td id="full_address">{{this.full_address}}</td>
					<td id="date_time_created">{{{lol this.date_time_created}}}</td>
					<td id="date_time_in_transit">{{{lol this.date_time_in_transit}}}</td>
					<td id="date_time_delivered">{{{lol this.date_time_delivered}}}</td>
					<td id="uuid">{{this.uuid}}</td>
					<td id="status">{{this.status}}</td>	
					<td class="button">
						<td>
							<form  id="formis" action="/home-courier-p/{{this.uuid}}" method="post" enctype="multipart/form-data">
								<input type="submit" name="submit" value="Add-Transit">
							</form>
						</td>
						</td>
						<td id="accept"><button onclick="window.location='/home-courier-receiver-details/{{this.uuid}}'" >Deliver</button>	
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		{{/if}}

		{{#if role.courier}}
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sender Username</th>
					<th>Sender PostCode</th>
					<th>Recipient PostCode</th>
					<th>Weight</th>
					<th>Recipient Name</th>
					<th>Full Adress</th>
					<th>Date Posted</th>
					<th>Date Transit</th>
					<th>Date Delivered</th>
					<th>Unique ID</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{{#each parcels}}
				<tr>
					<td><span class="emoji">📦</span></td>
					<td id="sender_username">{{this.sender_username}}</td>
					<td id="sender_postcode">{{this.sender_postcode}}</td>
					<td id="recipient_postcode">{{this.recipient_postcode}}</td>
					<td id="weight_kg">{{this.weight_kg}}</td>
					<td id="recipient_name">{{this.recipient_name}}</td>
					<td id="full_address">{{this.full_address}}</td>
					<td id="date_time_created">{{{lol this.date_time_created}}}</td>
					<td id="date_time_in_transit">{{{lol this.date_time_in_transit}}}</td>
					<td id="date_time_delivered">{{{lol this.date_time_delivered}}}</td>
					<td id="uuid">{{this.uuid}}</td>
					<td id="status">{{this.status}}</td>
					<td class="button">
						<td>
							<form  id="formis" action="/home-courier-p/{{this.uuid}}" method="post" enctype="multipart/form-data">
								<input type="submit" name="submit" value="Add-Transit">
							</form>
						</td>
						</td>
						<td id="accept"><button onclick="window.location='/home-courier-receiver-details/{{this.uuid}}'" >Deliver</button>	
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		{{/if}}

		{{#if role.customer}}
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sender Username</th>
					<th>Sender PostCode</th>
					<th>Recipient PostCode</th>
					<th>Weight</th>
					<th>Recipient Name</th>
					<th>Full Adress</th>
					<th>Date Posted</th>
					<th>Date Transit</th>
					<th>Date Delivered</th>
					<th>Unique ID</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
			{{#each parcels}}
				<tr>
					<td><span class="emoji">📦</span></td>
					<td id="sender_username">{{this.sender_username}}</td>
					<td id="sender_postcode">{{this.sender_postcode}}</td>
					<td id="recipient_postcode">{{this.recipient_postcode}}</td>
					<td id="weight_kg">{{this.weight_kg}}</td>
					<td id="recipient_name">{{this.recipient_name}}</td>
					<td id="full_address">{{this.full_address}}</td>
					<td id="date_time_created">{{{lol this.date_time_created}}}</td>
					<td id="date_time_in_transit">{{{lol this.date_time_in_transit}}}</td>
					<td id="date_time_delivered">{{{lol this.date_time_delivered}}}</td>
					<td id="uuid">{{this.uuid}}</td>
					<td id="status">{{this.status}}</td>
					
				</tr>
			{{/each}}
			</tbody>
		</table>
		{{/if}}

		</section>

	</main>
	<footer>
		<p>This is the footer</p>
	</footer>
		<script>

		

		let lat = document.getElementById('sender_postcode')	
		let lng = document.getElementById('recipient_postcode')
		lat = lat.innerHTML
		lng = lng.innerHTML
		let map;
		function initMap(){
			//initiate the directions stuff
			const directionsRenderer = new google.maps.DirectionsRenderer()
			const directionsService = new google.maps.DirectionsService()
			//create the map
			map = new google.maps.Map(document.getElementById('map-one-parcel'), {
				disableDefaultUI: true,
			})
			directionsRenderer.setMap(map)
			calculateAndDisplayRoute(directionsService, directionsRenderer)
		}
		function calculateAndDisplayRoute(directionsService, directionsRenderer) {
			directionsService.route(
				{
					origin: lat ,
					destination: lng ,
					travelMode: "DRIVING"
				},
				(response, status) => {
					directionsRenderer.setDirections(response);
					console.log(status);
				}
			)
		}
		window.initMap = initMap;
		</script>
	  {{!-- Has to be loaded last --}}
	  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMN0tTYpnYsYcy62DPJoLB_bqZqHnNVDU&callback=initMap&v=weekly"
      defer
	  ></script>
	</body>	
</html>
